// Color Variables //
$primaryColor: #5C64E7
$secondary: #3f47c3
$textBlack: #222831
$textGrey: #696969
$body-bg: #f5f7fa
$grey-bg: #d8d8d8
$borderColor: #e8e8e8
$gray: #A3A3A3
$light-gray: #e8e8e8
$dangerColor : #c31717
$blue: #B4D6FC


$dark-gray: #494747
$light-pink: #f8d7da
$light-yellow: #fff3cd
$light-green: #E5FFEE
$purple: #A079FC
$dark-pink : #9E759E
$pink: #D26591

.bg-primary
  background-color: $primaryColor !important

.bg-blue
  background-color: $blue !important

.bg-gray
  background-color: $gray

.bg-light-gray
  background-color: $light-gray

.bg-light-pink
  background-color: $light-pink

.bg-light-yellow
  background-color: $light-yellow

.bg-light-green
  background-color: $light-green

.bg-purple
  background-color: $purple

.text-dark-pink
  color: $dark-pink

.text-primary
  color: $primaryColor !important
