@import "../../../node_modules/@fontsource/roboto-condensed/300.css"
@import "../../../node_modules/@fontsource/roboto-condensed/400.css"
@import "../../../node_modules/@fontsource/roboto-condensed/500.css"
@import "../../../node_modules/@fontsource/roboto-condensed/600.css"
@import "../../../node_modules/@fontsource/roboto-condensed/700.css"
@import "../../../node_modules/@fontsource/roboto-condensed/800.css"


h1
  font-size: 28px
  font-weight: 700

h2
  font-size: 24px

h3
  font-size: 22px

h4
  font-size: 20px

h5
  font-size: 18px

h6
  font-size: 16px

p
  font-size: 14px


.font-12
  font-size: 12px !important

.font-14
  font-size: 14px !important

.font-15
  font-size: 15px !important

.font-16
  font-size: 16px !important

.font-18
  font-size: 18px !important

.font-20
  font-size: 20px !important


.fw-medium
  font-weight: 500 !important

.fw-semibold
  font-weight: 600 !important

.fw-bold
  font-weight: 700 !important
